<!DOCTYPE html>
<html lang="en">
<head>
  {% include "partials/head" %}
</head>
<body class="{{ page.body_class }}">
  {% include "partials/header" %}
  {{ content }}
  {% include "partials/footer" %}
</body>
</html>
